@use 'reset-css';
body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  line-height: 1.5;
}
button {
  all: unset;
  cursor: pointer;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  display: block;
}