<footer class="footer">
  <div class="footer__container">
    <div class="contact-area">
      <div class="contact-area__left">
        <ul class="footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link"><span class="footer-nav__item">首頁</span></a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link"><span class="footer-nav__item">系列鏡框</span></a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link"><span class="footer-nav__item">門市據點</span></a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link"><span class="footer-nav__item">部落格</span></a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link"><span class="footer-nav__item">常見問題</span></a></li>
        </ul>
        <ul class="contact-list-container">
          <li class="contact-list">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg" alt="contact-icon-1" class="contact-list__icon">
            <span class="contact-list__info">0800-000-000</span>
          </li>
          <li class="contact-list">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg" alt="contact-icon-2" class="contact-list__icon">
            <span class="contact-list__info">glasses@business.com</span>
          </li>
        </ul>
      </div>
      <div class="contact-area__right">
        <ul class="social-links">
          <li class="social-links__item"><a href="" class="social-links__link" target="_blank"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="facebook" class="social-links__icon"></a></li>
          <li class="social-links__item"><a href="" class="social-links__link" target="_blank"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="instagram" class="social-links__icon"></a></li>
          <li class="social-links__item"><a href="" class="social-links__link" target="_blank"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="line" class="social-links__icon"></a></li>
        </ul>
      </div>
    </div>
    <div class="legal-info-area">
      <p class="copyright-info">Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="legal-rights-container">
        <p class="legal-right">隱私權政策</p>
        <p class="legal-right">服務條款</p>
      </div>
    </div>
  </div>
</footer>