<ul class="tablist container">
  <li class="tab <%= checked === 'optical' ? 'tab--checked' : '' %>">
    <a href="products-1.html" class="tab__link">
      <span class="tab__text">OPTICAL</span>
      <span class="tab__underscore"></span>
    </a>
  </li>
  <li class="tab <%= checked === 'sunglasses' ? 'tab--checked' : '' %>">
    <a href="products-2.html" class="tab__link">
      <span class="tab__text">SUNGLASSES</span>
      <span class="tab__underscore"></span>
    </a>
  </li>
  <li class="tab <%= checked === 'functional' ? 'tab--checked' : '' %>">
    <a href="" class="tab__link">
      <span class="tab__text">FUNCTIONAL</span>
      <span class="tab__underscore"></span>
    </a>
  </li>
</ul>