<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- banner -->
      <section class="banner">
        <div class="banner__container">
          <div class="banner-box">
            <p class="banner-text">Promise-Desert 2020 早春系列</p>
            <h2 class="banner-title mb-1 mb-md-2">看得清，才能看得遠</h2>
            <button class="btn ml-auto">立即購買</button>
          </div>
        </div>
      </section>
      <!-- features -->
      <section class="feature">
        <div class="feature__container">
          <h3 class="section-title mb-8 mb-md-6">用專業的心，做專業的事</h3>
          <ul class="feature-card-container gx-24 row-cols-4 row-cols-lg-2 row-cols-md-1">
            <li class="feature-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" alt="icon-1" class="feature-card__icon">
              <h4 class="feature-card__title">單一價格</h4>
              <p class="feature-card__text">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="feature-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" alt="icon-2" class="feature-card__icon">
              <h4 class="feature-card__title">20 分鐘即可取件</h4>
              <p class="feature-card__text">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="feature-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" alt="icon-3" class="feature-card__icon">
              <h4 class="feature-card__title">安心售後服務</h4>
              <p class="feature-card__text">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="feature-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" alt="icon-4" class="feature-card__icon">
              <h4 class="feature-card__title">關於鏡片</h4>
              <p class="feature-card__text">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>
      <!-- products-classic -->
      <section class="products-classic">
        <div class="products-classic__container">
          <h3 class="section-title mb-12 mb-md-6">經典系列鏡框</h3>
          <ul class="products-classic-card-container gx-24 row-cols-3 row-cols-md-1">
            <li class="products-classic-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="product-1" class="products-classic-card__img">
              <h4 class="products-classic-card__title">OPTICAL</h4>
            </li>
            <li class="products-classic-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="product-2" class="products-classic-card__img">
              <h4 class="products-classic-card__title">SUNGLASSES</h4>
            </li>
            <li class="products-classic-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="product-3" class="products-classic-card__img">
              <h4 class="products-classic-card__title">FUNCTIONAL</h4>
            </li>
          </ul>
        </div>
      </section>
      <!-- products-special -->
      <section class="products-special">
        <div class="products-special__container">
          <h3 class="section-title products-special-title mb-12 mb-md-6">聯名設計鏡框</h3>
          <div class="products-special-card-container row-cols-2 row-cols-md-1">
            <div class="products-special-card">
              <picture>
                <source media="(max-width: 767px)" srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" alt="products-special-img-1" class="products-special-card__img">
              </picture>
              <h4 class="products-special-card__title">DOUBLE A+</h4>
            </div>
            <div class="products-special-card">
              <picture>
                <source media="(max-width: 767px)" srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" alt="products-special-img-2" class="products-special-card__img">
              </picture>
              
              <h4 class="products-special-card__title">YOUTH</h4>
            </div>
          </div>
        </div>
      </section>
      <!-- testimonials -->
      <section class="testimonials">
        <div class="testimonials__container">
          <div class="section-title testimonials-title mb-12 mb-md-6">顧客推薦</div>
          <ul class="testimonials-card-container">
            <li class="testimonial-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" alt="testimonial-1" class="testimonial-card__img">
              <div class="testimonial-card__body">
                <h3 class="testimonial-card__name">Jessy</h3>
                <p class="testimonial-card__text">眼鏡品質優良，下次還會想來這邊購買！</p>
                <span class="testimonial-card__date">2021/06/20</span>
              </div>
            </li>
            <li class="testimonial-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" alt="testimonial-2" class="testimonial-card__img">
              <div class="testimonial-card__body">
                <h3 class="testimonial-card__name">凱倫</h3>
                <p class="testimonial-card__text">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <span class="testimonial-card__date">2021/04/18</span>
              </div>
            </li>
            <li class="testimonial-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" alt="testimonial-3" class="testimonial-card__img">
              <div class="testimonial-card__body">
                <h3 class="testimonial-card__name">悠悠</h3>
                <p class="testimonial-card__text">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <span class="testimonial-card__date">2020/12/25</span>
              </div>
            </li>
            <li class="testimonial-card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" alt="testimonial-4" class="testimonial-card__img">
              <div class="testimonial-card__body">
                <h3 class="testimonial-card__name">Kyuan</h3>
                <p class="testimonial-card__text">服務很好，品質沒有任何問題，非常喜歡。</p>
                <span class="testimonial-card__date">2020/12/25</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- contact-us -->
      <section class="contact-us">
        <div class="contact-us__container">
          <h3 class="section-title contact-us-title mb-12 mb-md-6">聯絡我們</h3>
          <p class="contact-us-text">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form action="" class="contact-form">
            <!-- 姓名 -->
            <label for="name" class="contact-form__label">姓名</label><br>
            <input type="text" name="name" placeholder="陳小明" class="contact-form__input"><br>
            <!-- 聯絡電話 -->
            <label for="phone" class="contact-form__label">聯絡電話</label><br>
            <input type="text" name="phone" placeholder="0912-345-678" class="contact-form__input"><br>
            <!-- 電子郵件 -->
            <label for="email" class="contact-form__label">電子郵件</label><br>
            <input type="text" name="email" placeholder="example@gmail.com" class="contact-form__input"><br>
            <!-- 意見反應 -->
            <label for="feedback" class="contact-form__label">意見反應</label><br>
            <textarea name="feedback" id="" cols="30" rows="10" class="contact-form__textarea" placeholder="請輸入您的意見"></textarea><br>
            <!-- 同意 -->
            <input type="checkbox" name="agree" class="contact-form__checkbox">
            <label for="agree" class="contact-form__label">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label><br>
            <button class="contact-form__button" type="submit">確認送出</button>
          </form>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
